extends layout

block content
  h1= title
  p Welcome to #{title}

  p Estudo do funcionamento do Express.

  h2 Guia  ==>>  Usando middlewares

  p  Middleware de nível do aplicativo
  p  Middleware de nível de roteador
  p  Middleware de manipulação de erros
  p  Middleware integrado
  p  Middleware de Terceiros




  